<%= form_for @born do |f| %>
  <div class="form-group">
    <% if born.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(born.errors.count, "error") %> prohibited this bet from being saved:</h2>

        <ul>
          <% born.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'El nombre del bebe' %>
      <%= f.text_field :name, maxlength: 10, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :birthday, 'Pronostico de posible fecha' %>
      <%= f.date_select :birthday , class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Premios para el ganador' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit('Crear') %>
    </div>
  </div>
<% end %>
