<h1>Esperando a tus hijos </h1>

<hr>

<section>
  <h2>Nacimientos anteriores</h2>
  <%- @borns.each do |born| %>
    <ul>
      <li>
        <span class="label label-info">
          <%= link_to born.name, born_path(born) %>
        </span>
      </li>
    </ul>
  <% end %>
</section>


<hr>

<h2>Crea el tuyo</h2>
<%= link_to 'nuevo nacimiento', new_born_path %>
