<h1>Esperando a <%= @born.name %></h1>

<%= month_calendar(attribute: :when, events: @born.bets) do |date, events| %>
  <%= date.day %>
  <ul>
    <% events.each do |event| %>
      <li>
        <span class="label label-info">
          <%= event.name %>
        </span>
      </li>
    <% end %>
  </ul>
  <%= link_to new_born_bet_path(@born, when: date) do %>
    <button type="button" class="btn">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  <% end %>
<% end %>

<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://prode-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
